<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431996859043-mt9ka1ejjravhts0edenlhkieh8kbc7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431996859043-mt9ka1ejjravhts0edenlhkieh8kbc7o</string>
	<key>API_KEY</key>
	<string>AIzaSyCXd6aNkVVCJ0oE-gD4y48xMApZ1XwEiN8</string>
	<key>GCM_SENDER_ID</key>
	<string>431996859043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bigMern.taskMe</string>
	<key>PROJECT_ID</key>
	<string>taskme-167c3</string>
	<key>STORAGE_BUCKET</key>
	<string>taskme-167c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431996859043:ios:4e244f48e4b558f0054516</string>
</dict>
</plist>